html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Figtree', 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.main-content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

.navbar, .footer {
background-color: #002F5D;
}