*{
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}

.main-content {
    flex: 1 0 auto;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 15px;
}

#footer {
    color: white;
}

#footer_by {
    color: white;
    font-size: 10px;
}

.navbar, .footer {
    background-color: #00305F;
}

#buy_tickets_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#transaction_cost {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#transaction_cost_label {
    font-size: 20px;
}

#transaction_cost_cost {
    font-size: 40px;
    font-weight: 700;
}

#btn_transaction_confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #65A930;
    width: 100%;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

#ticket_buy_summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    gap: 30px;
    width: 600px;
    height: 100px;
    background-color: #E6E6E6;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#ticket_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 30px;
}

.btn-primary {
    background-color: #00305F;
    border-color: #00305F;
}

.btn-primary:hover {
    background-color: #0063AF;
    border-color: #0063AF;
}

.btn-outline-primary {
    border-color: #00305F;
    color: #00305F;
}

.btn-outline-primary:hover {
    background-color: #0063AF;
    border-color: #0063AF;
}

#label {
    font-weight: 700;
}

/* login */
#login {
    margin-top: 50px;
}

#login .container-lg {
    max-width: 500px;
}

form .form-control {
    margin-bottom: 15px;
}

.alert {
    margin-bottom: 20px;
}
/* koniec login */

#tickets .ticket {
    background-color: #E6E6E6;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#tickets .ticket-header {
    font-size: 1.5rem;
    font-weight: 700;
    color: #00305F;
}

#tickets .ticket-body {
    font-size: 1.1rem;
    color: #9D9D9C;
}