* {
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    color: black;
}

p {
    padding: 0px;
    margin: 0px;
}

.ticket {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #E6E6E6;
    width: 400px;
    padding: 15px;
}

.button_quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00305F;
    width: 30%;
    height: 100%;
}

#ticket_main_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

#ticket_main_info_spec {
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 100%;
}

#ticket_main_info_tariff {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: 100%;
}

#ticket_main_info_tariff img {
    height: 43%;
    width: auto;
    object-fit: fill;
}

#ticket_quantity_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

#ticket_remaining_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #00305F;
}

#ticket_remaining_section p {
    color: white;
}

#ticket_remaining_time {
    font-size: 26px;
    font-weight: 700;
}

#ticket_quantity, #ticket_price {
    font-size: 40px;
    font-weight: 700;
}

#ticket_price {
    margin-right: 10px;
}

#ticket_price_time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ticket_validation_info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
}

#ticket_description_section {
    display: flex;
    height: 50px;
    align-items: center;
}

#divider {
    background-color: #00305F;
    height: 1.5px;
}

button {
    z-index: 1000;
    pointer-events: auto;
    border: none;
}