<div id="editTicketModal" class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edytuj bilet</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="editTicketForm">
          <input type="hidden" id="editTicketId" />
          <div class="mb-3">
            <label for="editTime" class="form-label">Czas</label>
            <input type="text" class="form-control" id="editTime" />
          </div>
          <div class="mb-3">
            <label for="editTariff" class="form-label">Taryfa</label>
            <select class="form-control form-select" id="editTariff">
              <option value="discount">Ulgowy</option>
              <option value="normal">Normalny</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="editZone" class="form-label">Strefa</label>
            <select class="form-control form-select" id="editZone">
              <option value="first">pierwsza</option>
              <option value="all">wszystkie</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="editPrice" class="form-label">Cena</label>
            <input type="text" class="form-control" id="editPrice" />
          </div>
          <div class="mb-3">
            <label for="editDescription" class="form-label">Opis</label>
            <input type="text-area" class="form-control" id="editDescription" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Anuluj
        </button>
        <button type="button" class="btn btn-primary" id="saveTicketChanges">
          Zapisz zmiany
        </button>
      </div>
    </div>
  </div>
</div>
