<script src="../static/scripts/navbar.js"></script>
<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <div class="container-xxl py-2 px-4">
    <div class="navbar-brand">
      <img
        src="{{ url_for('static', filename='images/logo.svg') }}"
        width="90"
        height="auto"
      />
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#main-nav"
      aria-controls="main-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-end align-center"
      id="main-nav"
    >
      <ul class="navbar-nav">
        {% if gUser.role == 'pasażer' %}
        <li class="nav-item">
          <a
            href="/moje_bilety"
            class="nav-link active"
            onload="checkActive(this)"
            >Moje bilety</a
          >
        </li>

        <li class="nav-item">
          <a href="/kup_bilet" class="nav-link" onload="checkActive(this)"
            >Kup bilet</a
          >
        </li>

        {% elif gUser.role == 'kontroler' %}
        <li class="nav-item">
          <a href="/kontrola" class="nav-link" onload="checkActive(this)"
            >Kontrola</a
          >
        </li>

        {% elif gUser.role == 'admin' %}
        <li class="nav-item">
          <a href="/admin_users" class="nav-link" onload="checkActive(this)"
            >Użytkownicy</a
          >
        </li>

        <li class="nav-item">
          <a href="/bilety" class="nav-link" onload="checkActive(this)"
            >Bilety</a
          >
        </li>
        {% endif %}
        <li class="nav-item">
          <a href="/moj_profil" class="nav-link" onload="checkActive(this)"
            >Mój profil</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Wyświetlanie powiadomień z systemu -->
{% with messages = get_flashed_messages() %} {% if messages %}
<div class="container mt-3">
  {% for message in messages %}
  <div class="alert alert-info" role="alert">{{ message }}</div>
  {% endfor %}
</div>
{% endif %} {% endwith %}
