<link rel="stylesheet" href="../static/css/ticket_style.css"/>
<div class="ticket" id="ticket_id_placeholder">
  <div id="ticket_main_info">
    <div id="ticket_main_info_spec">
      <img id="ticket_time" src="ticket_time_placeholder"/>
      <div id="ticket_main_info_tariff">
        <img id="ticket_tariff" src="ticket_tariff_placeholder" />
        <img id="ticket_zone" src="ticket_zone_placeholder" />
      </div>
    </div>
    <div id="ticket_price_time">
      <p id="ticket_price">ticket_price_placeholder</p>
    </div>
  </div>
  <div id="divider"></div>
  <div id="ticket_description_section">
    <p id="ticket_description">ticket_description_placeholder</p>
  </div>
  <div id="divider"></div>
  <div id="ticket_quantity_section">
    <button class="button_quantity button_minus" id="button_minus">
      <img src="../static/images/button_minus.svg"/>
    </button>
    <p class="ticket_quantity" id="ticket_quantity">0</p>
    <button class="button_quantity button_plus" id="button_plus">
      <img src="../static/images/button_plus.svg"/>
    </button>
  </div>
</div>