<script src="../static/scripts/ticket.js"></script>
<link rel="stylesheet" href="../static/css/ticket_style.css"/>
<!--Aby zmienić bilet trzeba zmienić ID na jedno z dostępnych w JSON-->
<div class="ticket" id="ticket_60min_normal_all">
  <div id="ticket_main_info">
    <div id="ticket_main_info_spec">
      <img id="ticket_time" />
      <div id="ticket_main_info_tariff">
        <img id="ticket_tariff"/>
        <img id="ticket_zone"/>
      </div>
    </div>
    <div id="ticket_price_time">
      <p>Ważny od:</p>
      <p id="ticket_buy_time">27.01.2025 12:57</p>
    </div>
  </div>
  <div id="divider"></div>
  <p id="ticket_description"></p>
  <div id="divider"></div>
  <div id="ticket_remaining_section">
    <p id="ticket_remaining">Pozostało:</p>
    <p id="ticket_remaining_time">14 min</p>
  </div>
</div>